<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Document</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <!-- <script src="{{ url_for('static',filename='socket.js') }}"></script> -->
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='chat-demo.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='output.css') }}"
    />
  </head>
  <body>
    <section class="chat-top dark:bg-slate-900">
      <a href="/logout"
        ><div class="back">
          <img src="{{ url_for('static',filename='/assets/images/back.png') }}" class="filter dark:invert" alt="" /></div
      ></a>
      <div class="chat-info">
        <span class="chat-name dark:text-slate-200 text-xl font-semibold">General Chat</span>
        <span class="active" style="color: green; font-weight: bold"
          >0 online</span
        >
        <div class="onliners">
          <ul class="onl"></ul>
        </div>
      </div>
      <div><button class="dark:bg-slate-500 p-2 sm:p-1 rounded-sm bg-slate-950 text-slate-300" onclick="toggleDarkMode()" id="darker">DarkMode</button></div>
    </section>
    <section class="chat-container">
      {% for post in posts %}{% if post.author.username == current_user.username
      %}
      <div class="message sent dark:bg-teal-900 dark:text-white">
        <span class="user">{{ post.author.username }}</span>
        <span>{{ post.body }}</span>
        <span class="stamp">{{ post.timestamp.strftime("%H:%M") }}</span>
      </div>
      {% else %}
      <div class="message received dark:bg-gray-800 dark:text-white">
        <span class="user">{{ post.author.username }}</span>
        <span>{{ post.body }}</span>
        <span class="stamp">{{ post.timestamp.strftime("%H:%M") }}</span>
      </div>
      {% endif %} {% endfor %}
    </section>
    <div class="input h-14 dark:bg-slate-900">
      <span id="plus" class="dark:text-white">+</span>
      <div id="input-box" >
        <input type="text" placeholder="Type message..." class="p-2 dark:bg-slate-700 dark:text-white " />
        <img
          src="{{ url_for('static',filename='/assets/images/send.png') }}"
          id="send"
          alt="send"
          class="dark:invert"
        />
      </div>
    </div>
    <script src="{{ url_for('static',filename='chat-demo.js')}}"></script>
    <script>
      socket.on("mes", (data) => {
        var username = `${data.user}`;
        var message = data.msg;
        var currentUser = "{{ current_user.username }}";
        var isUser = currentUser == username ? true : false;
        handleChat(username, message, isUser);
      });
      socket.on("connect", () => {
        console.log("{{ current_user.username }} is connected");
        socket.emit("event", { data: "{{ current_user.username }}" });
      });
    </script>
    
  </body>
</html>
