{% extends 'base.html' %}
{% block title %}404{% endblock %}

{% block content %}
{% if error=='404' %}
<div class="text-[17px] dark:text-white flex flex-col h-[50vh] justify-center items-start pl-6">
    <p class="font-bold text-[60px] text-red-700 text-center w-full pb-4">404</p>
    <p class="text-center w-full pb-3">That thing wey you dey find no dey our server...</p>
    <p class="text-center w-full">This error wey you see na your fault, no be our fault, Argue with your keyboard...</p>
</div>
{% else %}
<div class="text-[17px] dark:text-white flex flex-col h-[50vh] justify-center items-start pl-6">
    <p class="font-bold text-[60px] text-red-700 text-center w-full pb-4">{{ error }}</p>
    <p class="text-center w-full pb-3">Omo something sup our server, Our engineers dey check on am, no vex...</p>
    <p class="text-center w-full">No be you cause am, Na us, No vex again...</p>
</div>
{% endif %}
{% endblock %}