{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="home-container dark:text-white ml-2 mr-2 flex flex-col">
        <h1 class="text-center text-3xl text-blue-700 m-5 font-bold">AGBEROCHAT2.0</h1>
        <p>Whether you dey bored or your babe don break up with you and you need pass time</p>
        <p>Join our vibrant community make you start dey gist your sorrows away today!</p>
        <p>Things wey we dey offer you:</p>
        <ul>
            <li>Sharp-sharp messaging</li>
            <li>Group chats</li>
            <li>Emojis and stickers</li>
            <li>File sharing - We dey work on am</li>
            <li>Video and voice calls -We dey work on am too</li>
        </ul>
        <div class="bg-blue-600 justify-center items-center flex self-center m-7 w-32 h-12">
            {% if current_user.is_authenticated %}
                <a href="/chatbox" class="signup-btn text-white">Go to Chat</a>
            {% else %}
                <a href="/signup" class="signup-btn text-white">Sign Up Now</a>
            {% endif %}
        </div>
        
    </div>
{% endblock %}

