{% extends 'base.html' %}

{% block content %}
    <div class="home-container dark:text-white ml-2 mr-2">
        <h1 class="text-center text-3xl text-blue-700 m-5">AGBEROCHAT2.0</h1>
        <p>Connect with people around the world in real-time conversations.</p>
        <p>Join our vibrant community and start chatting today!</p>
        <p>Features:</p>
        <ul>
            <li>Instant messaging</li>
            <li>Group chats</li>
            <li>Emojis and stickers</li>
            <li>File sharing - Still in development</li>
            <li>Video and voice calls - Still in development</li>
        </ul>
        <a href="/signup" class="signup-btn">Sign Up Now</a>
        
    </div>
{% endblock %}

