{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="flex flex-col dark:text-white">
  <h1 class="text-center text-3xl text-blue-700 m-5 font-bold">
    Login
  </h1>

  <div class="self-center flex items-center bg-white dark:bg-[#131314] px-3 py-2 rounded-full cursor-pointer">
    <div class="w-8 mr-2">
      <img class="w-full" src="{{ base_url }}/static/assets/images/google.png" />
    </div>
    <a href="{{ base_url }}/authorize?provider=google" class="text-[17px] font-roboto tracking-[0.25px]" >
      Continue with Google
    </a>
  </div>

  <form
    method="POST"
    class="flex flex-col w-auto bg-white dark:bg-[#333] self-center m-6 p-7"
    action="/login"
  >
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      placeholder="johndoe@gmail.com"
      required
      class="dark:bg-[#333] mb-4"
    />

    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="•••••••••••"
      required
      class="dark:bg-[#333] mb-4"
    />
    <div class="remember-me">
                <input type="checkbox" id="remember-me" name="remember-me">
                <label for="remember-me">Remember Me</label>
            </div>
    <button type="submit" class="signup-btn bg-blue-700 h-9 text-white mt-4">
      Log In
    </button>
  </form>
  <p class="ml-6 ">
    Don't have an account yet?
    <a href="/signup" class="text-blue-600">Sign up here</a>
  </p>
</div>



{% endblock %}

