<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
</head>
<body>
    {% for i in messages %}
        <p>{{ i.body }}</p>
    {% endfor %}
    <p></p>
    <script>
        const socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.emit('join',{room: "{{ room_id }}",username:"{{ current_user.username }}"})
        socket.emit('custom_message',{room: "{{ room_id }}",username:"{{ current_user.username }}",message: "Hello"})
        socket.on('mes', (data) => {
            const p = document.createElement('p')
            p.innerText = data['msg']
            document.body.appendChild(p)
        })
    </script>
</body>
</html>